@font-face {
    font-family: poppins;
    src: url(Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: typewritter;
    src: url(Fonts/JMH\ Typewriter.ttf);
}
body{
    font-family: poppins;
    overflow: hidden;
}
.reservations{
    display: flex;
}
.reservations_image{

}
.reservations_image img{
    width: 50vw;
    height: 100vh;
}
.reservaton_text{
    position: relative;
    margin-top: -30cm;
    margin-left: 10cm;
}

#logo_image{
    width: 10vw;
    
}
#reservations_welcome{
    margin-top: -7cm;
    margin-left: 1cm;
    font-size: 160%;
    color: white;
}
#text_reservations{
    margin-left: 1cm;
    font-size: 250%;
    color: orangered;
}
.reservations_form{
    margin-left: 1cm;
}
.reservations_form label{
    /* font-family: typewritter; */
    font-size: 120%;
    color: white;
}
.reservations_form input{
    width: 30vw;
    height: 5vh;
    border-radius: 0.1cm;
    border: solid 1px white;
    background-color: black;
    color-scheme: dark;
}

.reservations_form input:hover{
    border: solid 1px greenyellow;
}
.reservations_form select{
    width: 30.5vw;
    height: 5.5vh;
    border-radius: 0.1cm;
    border: 1px solid white;
    background-color: rgb(44, 44, 44);
}

.reservations_form select:hover{
    border: solid 1px blue;
}
.form_text{
    background-color: black;
    width: 50vw;
    overflow: scroll;
    height: 100vh;

}
#time, #date{
    color: white;
}
form{
    margin: 9vw 5vh;
    
}
#checkbox{
    width: 30vw;
    height: 6vh;
    background-color: burlywood;
    color: black;
    font-size: 120%;
    border: none;
    border-radius: 10px;
}
#checkbox:hover{
    background-color: rgb(218, 158, 80);
}
.navigation {
    position: absolute;
    display: flex;
    border: solid 2px;
    margin-top: -3cm;
    gap: 1cm;
    margin-left: 1cm;
    background-color: black;
    height: 2cm;
    width: 25cm;
    border-radius: 1cm;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding-top: 2.5%;
    padding-left: 2%;
}

.navigation a:hover {
    color: grey;
}

#timeicon {
    position: relative;

}

.reservationsnav {
    padding:2% 2% 2% 0%;
    border: solid 2px;
    background-color: grey;
    width: 4cm;
    border-radius: 1cm;
    height: 0.7cm;
    /* margin-top: 0.3cm; */
}

.reservationsnav:hover {
    background-color: white;
    color: black;
}

.reservationsnav a {
    margin-left: 0.7cm;


}



a {
    text-decoration: none;
    color: white;
}

.socials {
    position: absolute;
    color: white;
    margin-left: 46cm;
    margin-top: -22cm;
}

.whatsappicon {
    position: absolute;
    color: white;
    border: solid 1px;
    background-color: white;
    margin-top: -3cm;
    margin-left: 47cm;
    border-radius: 50%;
}

.hover_up {
    position: relative;
    display: block;
    margin-top: 2.5%;

}

.hover_up-content {
    display: inline-block;
    position: absolute;
    color: black;
    background-color: white;
    padding: 2%;
    border: none;
    width: 900%;
    border-radius: 20px;
    z-index: 1;
    display: none;
    top: -950%;

}

.hover_up:hover .hover_up-content {
    display: block;
}



    
@media only screen and (max-width: 430px) {
    .reservations{
        overflow:visible;
        flex-direction: column;
    }
    .reservations_image img{
        width: 100vw;
        height: 70vh;
    }
    #reservations_welcome{
        margin-top: 3cm;
        margin-left: -8cm;
        font-size: 160%;
        color:white;
        line-height: 0.5vh;
        
    }
    #text_reservations{
        margin-left: -10cm;
        margin-top: 1cm;
        font-size: 250%;
        color: orangered;
    }
    .form_text{
        background-color: black;
    }
    .form_text{
        background-color: black;
        width: 100vw;
        overflow: scroll;
        height: 70vh;
    
    }
    .navigation {
        position: absolute;
       display: flex;
        border: solid 2px;
        margin-top: -25cm;
        gap: 0cm;
        margin-left: 0cm;
        background-color: black;
        height: 1.5cm;
        width: 9cm;
        border-radius: 1cm;
        font-size: 50%;
    }
    .whatsappicon {
        position: absolute;
        color: white;
        border: solid 1px;
        background-color: white;
        margin-top: -3cm;
        margin-left: 7cm;
        border-radius: 50%;
    }
    .socials {
        position: absolute;
        color: white;
        margin-left: 7cm;
        margin-top: -29cm;
    }

    .reservationsnav {
        padding:2% 2% 2% 0%;
        border: solid 2px;
        background-color: grey;
        width: 2cm;
        border-radius: 1cm;
        height: 0.7cm;
        /* margin-top: 0.3cm; */
    }
}
@media only screen and (min-width: 431px) and (max-width:820px) {
    .reservations{
        overflow:visible;
        
    }
    #reservations_welcome{
        margin-top: -15cm;
        margin-left: -7cm;
        font-size: 160%;
        color:white;
        
    }
    #text_reservations{
        margin-left: -8cm;
        margin-top: 1cm;
        font-size: 250%;
        color: orangered;
    }
    #logo_image{
        width: 10vw;
        margin-left: -7cm;
        margin-top: -2cm;
        
    }
    .whatsappicon {
        position: absolute;
        color: white;
        border: solid 1px;
        background-color: white;
        margin-top: -5cm;
        margin-left: 1cm;
        border-radius: 50%;
    }
    .socials {
        position: absolute;
        color: white;
        margin-left: 1cm;
        margin-top: -29cm;
    }
    .navigation {
        position: absolute;
        display: flex;
        border: solid 2px;
        margin-top: -3cm;
        gap: 0cm;
        margin-left: 1cm;
        background-color: black;
        height: 2cm;
        width: 19cm;
        border-radius: 1cm;
    }
    
}
